<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Food Restrictions</title>
</head>
<body>
    <h2>Set Your Food Restrictions</h2>
    <form method="post">
        <label><input type="checkbox" name="restrictions" value="hazelnuts"> Hazelnuts</label><br>
        <label><input type="checkbox" name="restrictions" value="soy lecithin"> Soy Lecithin</label><br>
        <label><input type="checkbox" name="restrictions" value="skim milk"> Skim Milk</label><br>
        <label><input type="checkbox" name="restrictions" value="cocoa"> Cocoa</label><br>
        <label><input type="checkbox" name="restrictions" value="palm oil"> Palm Oil</label><br>
        <label><input type="checkbox" name="restrictions" value="sunflower oil"> Sunflower Oil</label><br>
        <label><input type="checkbox" name="restrictions" value="potatoes"> Potatoes</label><br>
        <label><input type="checkbox" name="restrictions" value="salt"> Salt</label><br>
        <label><input type="checkbox" name="restrictions" value="sugar"> Sugar</label><br>
        <button type="submit">Save Restrictions</button>
    </form>
    <a href="/">Back to Home</a>
</body>
</html>
